mixin button(text, size, theme, disabled)
  if disabled
    button(
      class = theme +' '+ size
      disabled
    )= text
  else
    button(
      class = theme +' '+ size
    )= text

mixin card(imagePath, name, parameters, price)
  .card
    .card__wrapper
      .card__up
        if imagePath
          img.card__foto(src=imagePath, alt="Изображение товара")
        else 
          img.card__foto(src="./images/noProduct.png", alt="Изображение товара отсутствует")
      .card__down
        .card__down__wrapper
          .card__name= name
          .card__parameters 
            //each param in parameters
            p.card__parameter= "Вид: "+parameters[0]
            p.card__parameter= "Марка: "+parameters[1]
            p.card__parameter= "Поверхность: "+parameters[2]
            p.card__parameter= "Размер: "+parameters[3]
            p.card__parameter= "Формат: "+parameters[4]
            p.card__parameter= "Цвет: "+parameters[5]
          
          if price 
            .card__price= price+" Руб/шт"
          else 
            .card__price= "Цена по запросу"

//-/////////////////////////////////////////////////////
include ../templates/layout/baseLayout

+button("text1", "button_big", "button__class")
+button("text2", "button_small", "button__class", "off")

br 
br

.table 
  .row
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", ["Пустотелый", "М150", "Рифлёный", "250х120х88", "1,4 НФ", "Красный"], "25")
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", ["Пустотелый", "М150", "Рифлёный", "250х120х88", "1,4 НФ", "Красный"], "25")
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", ["Пустотелый", "М150", "Рифлёный", "250х120х88", "1,4 НФ", "Красный"], "25")
  .row
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", ["Пустотелый", "М150", "Рифлёный", "250х120х88", "1,4 НФ", "Красный"])
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", ["Пустотелый", "М150", "Рифлёный", "250х120х88", "1,4 НФ", "Красный"])
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", ["Пустотелый", "М150", "Рифлёный", "250х120х88", "1,4 НФ", "Красный"])
  .row
    +card(imagePath, "Кирпич керамический озёрский одинарный", ["Пустотелый", "М150", "Рифлёный", "250х120х88", "1,4 НФ", "Красный"], "25")
    +card(imagePath, "Кирпич керамический озёрский одинарный", ["Пустотелый", "М150", "Рифлёный", "250х120х88", "1,4 НФ", "Красный"], "25")
    +card(imagePath, "Кирпич керамический озёрский одинарный", ["Пустотелый", "М150", "Рифлёный", "250х120х88", "1,4 НФ", "Красный"], "25")
  .row
    +card(imagePath, "Кирпич керамический озёрский одинарный", ["Пустотелый", "М150", "Рифлёный", "250х120х88", "1,4 НФ", "Красный"])